:root {
  --body-font: "Helvetica", "Arial", sans-serif;
}

:root {
  --background-color: white;
  --body-color: hsl(0, 0%, 40%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(0, 0%, 10%);
    --body-color: hsl(0, 0%, 80%);
  }
}

body {
  font-size: 1rem;
  color: var(--body-color);
  font-family: var(--body-font);
  background-color: var(--background-color);
  line-height: 1.35;
  width: 95%;
  margin: 0 auto;
  max-width: 570px;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures
    no-historical-ligatures contextual;
}

@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
  }
}

@media (min-width: 760px) {
  body {
    width: 100%;
  }
}
