:root {
  --body-font: "Helvetica", "Arial", sans-serif;
}

:root {
  --background-color: #eee;
  --body-color: hsl(0, 0%, 40%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(0, 0%, 10%);
    --body-color: hsl(0, 0%, 80%);
  }
}

body {
  margin: 2rem;
  font-size: 1rem;
  line-height: 1.35;
  font-family: var(--body-font);
  color: var(--body-color);
  background-color: var(--background-color);
  font-variant-ligatures: common-ligatures no-discretionary-ligatures
    no-historical-ligatures contextual;
}

header,
footer {
  margin: 2rem auto;
  text-align: center;
}
